.container {
    display: flex;
    padding: 30px;
}

.box {
    width: 200px;
    min-height: 20px;
    border: 2px solid #333;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    align-content: flex-start;
}


.panel {
    width: 160px;
    min-height: 20px;
    border: 2px solid #333;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    align-content: flex-start;
    font-size: 10px;
}

.sbox {
    border: 2px solid #333;
}

.square {
    width: 99%;
    height: 99%;
    gap: 10px;
    background: yellow;
}

.circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    gap: 10px;
    background: yellow;
}

.btn {
    cursor: pointer;
    background-color: rgb(107, 0, 0);
    transition: background-color 0.2s ease;
}

.btn:hover {
    background-color: yellow;
}