@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.article, .content__titlemeta, .toc {
    background-color: #0b0d22;
    border: none;
    color: #ffff;
    box-shadow: #1a1a21 5px 5px;
}

.article h2, 
.article h3,
.content__titlemeta h1,
.content__titlemeta span,
.toc h2 {
    font-family: "Tomorrow", sans-serif;
}

.toc a {
    font-family: "Geist Mono", monospace;
    color: #4dd2fae5;
}

.article p {
    font-family: "Space Mono", monospace;
}