---
// SLC.astro
const c_s = Array.from({ length: 1 });
import '../styles/interactables.css'; 
---


<div class="container">
  <div class="cell">
    <div id="w1_s" class="box btn">control gate (MS)</div>
      <div id="insulation_s" class="box">Isolation Layer</div>
      <div id="float_s" class="box">Floating Gate<div id="r_s" class="box"></div></div>
      <div id="insulation_s" class="box">Isolation Layer</div>
      <div id="substrate_s" class="box">Substrate<div id="l_s" class="box">
          {c_s.map((_, i) => (
          <div class="square c_s" data-id={i}></div>
          ))}
      </div> 
    </div>
  </div>

  <div class="cell">
    <div id="w2_s" class="box btn">control gate</div>
      <div id="insulation_s" class="box">Isolation Layer</div>
      <div id="float_s" class="box">Floating Gate<div id="r2_s" class="box"></div></div>
      <div id="insulation_s" class="box">Isolation Layer</div>
      <div id="substrate_s" class="box">Substrate<div id="l2_s" class="box">
          {c_s.map((_, i) => (
          <div class="square c2_s" data-id={i}></div>
          ))}
      </div> 
    </div>
  </div>

  <div class="cell">
    <div id="w3_s" class="box btn">control gate</div>
      <div id="insulation_s" class="box">Isolation Layer</div>
      <div id="float_s" class="box">Floating Gate<div id="r3_s" class="box"></div></div>
      <div id="insulation_s" class="box">Isolation Layer</div>
      <div id="substrate_s" class="box">Substrate<div id="l3_s" class="box">
          {c_s.map((_, i) => (
          <div class="square c3_s" data-id={i}></div>
          ))}
      </div> 
    </div>
  </div>

  <div class="cell">
    <div id="w4_s" class="box btn">control gate (LS)</div>
      <div id="insulation_s" class="box">Isolation Layer</div>
      <div id="float_s" class="box">Floating Gate<div id="r4_s" class="box"></div></div>
      <div id="insulation_s" class="box">Isolation Layer</div>
      <div id="substrate_s" class="box">Substrate<div id="l4_s" class="box">
          {c_s.map((_, i) => (
          <div class="square c4_s" data-id={i}></div>
          ))}
      </div> 
    </div>
  </div>

  <div class="panel">
    <div class="panel">Clicking a control gate applies voltage to said control gate and grounds the substrate</div>
    <div class="sbox">Every time the screen changes a reference voltage is applied through the substrate</div>
    <div class="panel display">
      <div class="sbox" id="d1_s"></div>
      <div class="sbox" id="d2_s"></div>
      <div class="sbox" id="d3_s"></div>
      <div class="sbox" id="d4_s"></div>
      <div class="sbox">
        <div>total:</div>
        <div class="sbox" id="d5_s"></div>
      </div>
      <div class="sbox">
        <div>hex: </div>
        <div class="sbox" id="d6_s"></div>
      </div>
    </div>
    <div class="panel btn" id="erase_s">[Erase] apply high voltage to substrate and negative voltage to control gate</div>
  </div>
  

</div>

<script is:inline>

document.addEventListener("DOMContentLoaded", () => {
  const cirlces1_s = document.querySelectorAll(".c_s");
  const circles2_s = document.querySelectorAll(".c2_s");
  const circles3_s = document.querySelectorAll(".c3_s");
  const circles4_s = document.querySelectorAll(".c4_s");
    const r1_s = document.getElementById("r_s");
    const l_s = document.getElementById("l_s");

    const r2_s = document.getElementById("r2_s");
    const l2_s = document.getElementById("l2_s");

    const r3_s = document.getElementById("r3_s");
    const l3_s = document.getElementById("l3_s");

    const r4_s = document.getElementById("r4_s");
    const l4_s = document.getElementById("l4_s");

    const w1_s = document.getElementById("w1_s");
    const w2_s = document.getElementById("w2_s");
    const w3_s = document.getElementById("w3_s");
    const w4_s = document.getElementById("w4_s");

    const d1_s = document.getElementById("d1_s");
    const d2_s = document.getElementById("d2_s");
    const d3_s = document.getElementById("d3_s");
    const d4_s = document.getElementById("d4_s");
    const d5_s = document.getElementById("d5_s");
    const d6_s = document.getElementById("d6_s");

    const erase_s = document.getElementById("erase_s");

    let state1_s = 1;
    let state2_s = 1;
    let state3_s = 1;
    let state4_s = 1;


    function updateDisplay_s() {
      d1_s.textContent = state1_s.toString(2);
      d2_s.textContent = state2_s.toString(2);
      d3_s.textContent = state3_s.toString(2);
      d4_s.textContent = state4_s.toString(2);
      d5_s.textContent = (state1_s.toString() + state2_s.toString()+ state3_s.toString() + state4_s.toString());
      d6_s.textContent = parseInt((state1_s.toString() + state2_s.toString()+ state3_s.toString() + state4_s.toString()),2).toString(16);
    }

    updateDisplay_s();

    erase_s.addEventListener("click", () => {
      state1_s = 1;
      state2_s = 1;
      state3_s = 1;
      state4_s = 1;

      document.querySelectorAll(".c_s").forEach(c_s => {
        l_s.appendChild(c_s);
        updateDisplay_s();
      });

      document.querySelectorAll(".c2_s").forEach(c2_s => {
        l2_s.appendChild(c2_s);
        updateDisplay_s();
      });

      document.querySelectorAll(".c3_s").forEach(c3_s => {
        l3_s.appendChild(c3_s);
        updateDisplay_s();
      });

      document.querySelectorAll(".c4_s").forEach(c4_s => {
        l4_s.appendChild(c4_s);
        updateDisplay_s();
      });
    });


    w1_s.addEventListener("click", () => {

      if (state1_s >= 0) {
        
        document.querySelector(".c_s");
        r1_s.appendChild(cirlces1_s[state1_s-1]);
        state1_s--;
        updateDisplay_s();
      }
    });

    w2_s.addEventListener("click", () => {
      
      if (state2_s >= 0) {
        
        document.querySelector(".c2_s");
        r2_s.appendChild(circles2_s[state2_s-1]);
        state2_s--;
        updateDisplay_s();
      }
    });


    w3_s.addEventListener("click", () => {
      
      if (state3_s >= 0) {
        
        document.querySelector(".c3_s");
        r3_s.appendChild(circles3_s[state3_s-1]);
        state3_s--;
        updateDisplay_s();
      }
    });

    w4_s.addEventListener("click", () => {
      
      if (state4_s >= 0) {
        
        document.querySelector(".c4_s");
        r4_s.appendChild(circles4_s[state4_s-1]);
        state4_s--;
        updateDisplay_s();
      }
    });

  });

</script>